
/*
LAYOUT: Three-Column
DESCRIPTION: Three-column 950px fixed layout with two sidebars on either side of content
*/

/*
LAYOUT: Three-Column Fluid
DESCRIPTION: Three-column layout with two sidebars on either side of content

Based on the 1140px Grid by Andy Taylor - http://cssgrid.net
*/


/*		Layout Max: 1140px
		Columns: 4.85%
		Gutters: 3.8%
-------------------------------------------------------------------------------
cols    1		2		3		4		5		6		7		8		9		10		11		12		
px      4.85%	13.5%	22.15%	30.8%	39.45%	48.1%	56.75%	65.4%	74.05%	82.7%	91.35%	100%
*/



img, object, embed {
	max-width: 100%;
	height: auto;
}

body {
    min-width:280px;
}
#header {
    position:relative;
}
#branding {
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
}
#access {
    position:relative;
}
.menu {
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
}
#main {
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
    overflow:hidden;
    position:relative;
}
#container {
    width:100%;
    float:left;
	margin-right: 0;
}
#content {
	margin: 0 25.95% 0 25.95%;
    overflow:hidden;
	width: auto;
}
#primary {
    width: 22.15%;
	float: left;
	margin: 0 0 0 -100%;
}
#secondary {
    width:22.15%;
    float:right;
	margin: 0 0 0 -22.15%;
}
#footer {    
    clear:both;
}
#subsidiary {
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
    overflow:hidden;
}
#subsidiary .aside {
    width: 30.8%;
    float:left;
    margin:0 3.8% 0 0;
}
#subsidiary #third {
    margin:0;
}
#siteinfo {
    clear:both;
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
}

/* =Page Templates
-------------------------------------------------------------- */

/*
    Full Width Template
*/

.page-template-template-page-fullwidth-php #container {
	width: 100%;
}

.page-template-template-page-fullwidth-php #content {
	width:100%;
}

.page-template-template-page-fullwidth-php #comments {
    width: 65.4%;
}

@media only screen and (max-width: 1023px) {
	body {
	font-size: 0.8em; /* Makes type a bit smaller at 1024 so layout doesn't look unbalanced */
	line-height: 1.5em;	/* As above */
	}
}


@media handheld, only screen and (max-width: 767px) {

	body { 
		font-size: 16px;
		line-height: 24px;
		-webkit-text-size-adjust: none;		/* Stops the iPhone scalling type up */ 
	}
	
	#container{
		width: 100%;
		margin: 0 0 22px 0;
		float: none;
	}
	#content {
		margin: 0;
	}
	.main-aside {
		margin-top: 22px;
		width: 100%;
		float: none;
		clear: both;
	}
	
	#subsidiary .aside {
		width: 100%;
		float: none;
		margin:0 0 22px 0;
	}


	.page-template-template-page-fullwidth-php #comments {
		width: 100%;
	}
	

}

@media handheld, only screen and (max-width: 480px) {
	#access {
		height: auto;
	}
	.sf-menu {
		float: none;
	}
	.sf-menu li {
		float: none;
		width:	100%;
	}
}
